#grid-container{
    display: grid;
    grid-template-columns: repeat(10,minmax(5px,5fr));
  }
  #grid-container div{
     text-align:center;
     border:1px solid black;
    margin:2px;
    background-color:white;
  }
  #button button{
      width:100px;
       margin:5px;
    height:30px;
  }
  #button{
    display:flex;
    justify-content:center;
    align-items:center;
  }
  #content{
    text-align:center;
    font-size:40px;
  }
  